* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("image/it.avif");
 height: 100%;
 background-size: cover;
 max-width: 100%;
background-image: -moz-repeating-linear-gradient();
}


 



/* .............................................header.......................... */


.navbar {
  position: sticky;
  z-index: 10;
  top: 0;
  max-width: 100vw;
  height: 120px;
  border-radius: 2px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  place-items: center;
  border:solid 2px #ffffff;
}
.navbar-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  margin-right: 20px;
  color: #ffffff;
  font-size: 22px;
  background-color: #5b3de4;
  border: solid 2px #ffffff;
 }

 ul {
  display: flex;
  justify-content: start;
 }

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 25px;
}

ul li a {
  text-decoration: none;
  color: #fff;
font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  -webkit-text-stroke: #5b3de4;
}

ul li a:hover {
color:#5b3de4;
}

.navbar i{
  font-style:normal;
 font-variant:normal;
 line-height: 2;
text-rendering: auto;
}

.mobile-navbar-link{
  display: none;
  max-height: max-content;
  padding: 5px 10px;
  background-color: black;
  margin-top: 300px;
  left: 0;
  
  }

  .mobile-navbar-link ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

   #hamburger{
      display: none;
      border: solid 1px #ffffff;
    }
    .hamburger .line{
      height: 3px;
      width: 25px;
      background-color: white;
      margin: 4px 0;
    }
/* ......................................................................LOGO.................*/

.line h1 span {
  color: rgb(0, 0, 0);

}
.line p {
  margin-top: 30px;
}
.logo h1 span {
  color: rgb(255, 255, 255);
  background-color: #5b3de4;

  

}


/* ................................................ HOME1.HTML............................... */
 
    .myimage{
     margin-top: 240px;
   align-items: center;
     flex-direction: column;
     display: flex;
     margin-left: 50px;
     
   

    }
    .myimage img{
      background-color: transparent;
      border-radius: 50%;
      border: solid 3px #8c00ff;
    
      background-color: #000000;
        
    }
    .facebook1{
      margin-left: 50px;
      flex-direction: row;
      display: flex;
      gap: 20px;
      margin-top: 10px;
       }

   .contenthome{
    display: flex;
    flex-direction:row;
   }
   .hi{
    
    flex-direction: column;
    text-align: center;
    margin-left: 100px;
    margin-top: 50px;
    color: #ffffff;
    font-size: x-large;
    -webkit-text-stroke: 1px #ffffff;
    -webkit-text-fill-color: #000000;
     font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    .hi h1{font-size: 100px;
      color: #000;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
      
    }
    .me2{
      margin-top: 50px;
      justify-content: center;
      display: flex;
      margin-left: 100px;
    }
    .me{
      display: flex;
      justify-content: center;
      flex-direction: column;

    }
    /*.............................................. ABOUT ME.HTML.........................*/
    .rec15{

  
    background-color: #fff;
  justify-content: center;
  display: flex;
  width: 600px;
  border-radius: 20px;
  height: 350px;
  margin-left: 100px;
  border:  solid #000;
  }
     .aboutme h1{
  margin-top: 10px;
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000000;
  border-radius: 50px;
  border: solid #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
  .info h2{
   margin-top: 50px;
   margin-left: 20px;
   margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-style: italic;
 
  }
  
.desktop-view {
        display: flex;
        place-items: center;
        justify-content: center;
       margin-top: 100px;
        flex-direction: row;}
     .mobile-view {
        display: none;
      }  
      .image{
        margin-left: 50px;
        background-color: #ffffffd2;
        border: solid 5px #000000;
     
      }  

/* .........................................contact.html......................... */

  .contact h1{
  margin-top: 10px;
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color:#000000 ;
  border: solid #ffffff;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
  


  
  border-radius: 50px;
  
}


.phone{
      margin-top: 50px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    
    }
    .phone h2{
      margin-top: 25px;
      margin-left: 0px;
      text-decoration: underline;
      color: #fff;
      background-color: #000000;
      border-bottom: solid #ffffff;
    }
    
      .location{
      margin-top: 50px;
      justify-content: center;
      display: flex;
      flex-direction: row;
       flex-direction: column;
      align-items: center;
    }
    .location h2{
      margin-top: 25px;
      margin-left: 50px;
      text-decoration: underline;
      color: #fff;
      background-color: #000000;
      border-bottom: solid #ffffff;
    }
     .ig{
      margin-top: 50px;
      justify-content: center;
      display: flex;
      flex-direction: column;
       align-items: center;
    }
    .ig h2{
      margin-top: 25px;
      margin-left: 20px;
      text-decoration: underline;
      color: #fff;
      background-color: #000000;
      border-bottom: solid #ffffff;
    }


  
    
  


/* ............................................RESUME.HTML................................. */
.image3
{
  display: flex;
  justify-content: left;
  margin-top: 100px;
  margin-left: 10px;
  flex-direction: column;
   row-gap: 10px;
   text-align: center;
}
.image3 img{
  background-color: #ffffff;
  border-radius: 50%;
  border: solid #000000;
}
.image3 h2{

  color: #ffffff;
   border-bottom: solid #000000;}

.rec{

  background-color: #ffffff;
  justify-content: center;
  display: flex;
  width: 250px;
  border-radius: 20px;
  flex-direction: row;
  row-gap: 20px;
  height: 150px;
  border: solid #000000;
  
}
 .rec1{

  background-color: #ffffff;
  justify-content: center;
  display: flex;
  width: 300px;
  border-radius: 20px;
  height: 150px;
  border: solid #000000;
  }
  .rec2{

  background-color: #ffffff;
 
  display: flex;
  width: 200px;
  border-radius: 20px;
  height: 150px;
  flex-direction: column;
  border: solid #000000;
 
  }
  .rec2 h4{
    margin-top: 5px;
    text-align: center;
     border-bottom: solid #000000;}

  .rec2 p{
    margin-top: 25px;
    text-align: center;
    
  }
   .rec3{

  background-color: #ffffff;
 
  display: flex;
  width: 200px;
  border-radius: 20px;
  height: 150px;
  margin-top: 80px;
  flex-direction: column;
  border: solid #000000;

  }
   .rec3 h4{
    margin-top: 5px;
    text-align: center;
    border-bottom: solid #000000;}

  .rec3 p{
    margin-top: 25px;
    text-align: center;
  }


  .recskill{
    background-color: #ffffff;
     display: flex;
  width: 250px;
  border-radius: 20px;
  height: 50px;
  align-items: center;
  row-gap: 50px;
  border: solid #000000;

  

  }
 
.skill {
  flex-direction: column;
  display: flex;
 
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  }
  .skill h3{
    margin-left:40px;
    font-size: x-large;
  }
.skill p{
  align-items: center;
  margin-top: 25px;
  text-decoration: underline;
  
  
}
.certification {
  flex-direction: column;
  display: flex;
 
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  }
 .certification h3{
    margin-left:40px;
    font-size: x-large;
  }

 .reccertification{
    background-color: #ffffff;
     display: flex;
  width: 300px;
  border-radius: 20px;
  height: 50px;
  align-items: center;
  row-gap: 50px;
   border: solid #000000;


  }
  .certification p{
  align-items: center;
  margin-top: 25px;
  text-decoration: underline;
  
  
}
.education {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  
 
 
 
  gap: 10px;
  margin-top: 20px;
  }

   .education h3{

    font-size: x-large;
  }
   
.receducation{
    background-color: #ffffff;
     display: flex;
  width: 200px;
  border-radius: 20px;
  height: 50px;
  align-items: center;
  row-gap: 50px;
  justify-content: left;
   border: solid #000000;

 }
.content2{
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 10px;
    flex-direction: row;
    gap: 50px;
}
.content1{
    display: flex;
    justify-content: left;
   
    margin-left: 10px;
    flex-direction: row;
    gap: 50px;
}
.content3{
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 10px;
    flex-direction: row;
    gap: 10px;
}
.content2and3{
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 10px;
    flex-direction: column;
    gap: 10px;
}
    
@media screen and (max-width: 900px) {
  
 
  

  /*.burger{
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }*/
  .navbar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
  max-width: 100vw;
  height: 120px;
}

.navbar-link{
  display: none;
}


#hamburger{
  display: block;
}
ul li {
  list-style: none;
  margin-left: 0%;
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
}
.mobile-navbar-link{
  display: none;
    max-height: max-content;
    
   
    background-color:#000000;
    margin-top: 150px;
    left: 0;
    border: solid #ffffff;
  
  }
.mobile-navbar-link-show{

  display: block;
} 
  
/*............................................. resume................................................ */
  .content1{
    flex-direction: column;
    margin-left: 0%;
   }
   .content2{
    flex-direction: column;
    margin-right: 0%;
   }
   .content3{
    flex-direction: column;
   align-items: center;
   margin-left: 0%;
   }
   .rec3{
    margin-top: 10px;
   }
   .content2and3{
    flex-direction: column;
    margin-left: 0%;
   }


  /*........................................................ home ............................................*/


  .contenthome{
    flex-direction: column-reverse;
  }
  .me2{
    margin-left: 0%;
    margin-top: 10px;
  }
  .me1{
    margin-left: 0%;
  }
  .hi h1{font-size: 50px;
      
    }
    .hi{
    
    flex-direction: column;
    text-align: center;
    margin-left: 0px;
    margin-top: 50px;
    color: #ffffff;
    font-size: x-large;
    }
    .myimage{
      margin-left: 0%;
      margin-top: 0%;
    }
    .facebook1{
     margin-left: 0%;
    }

  

 
/* ................................about me.................................. */
.mobile-view {
          display: block;
       
        }
        .desktop-view {
          display: none;
        }
  .main-content{
    display: flex;
    flex-direction: column;
  }

  
.row {
 flex-direction: column;
}
.info h2 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: larger;
background-color:rgb(255, 255, 255);
border-radius: 20px;
border: solid 2px #000000;
text-align: center;

   
}
.image{
  display: flex;
  margin-right: 40px;
  
}


/* ...............................contact................................ */

    .ig h2 {
        margin-top: 25px;
        margin-left: 30px;
        text-decoration: underline;
        font-size: large;
    }
  .ig {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.location {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.location h2 {
    margin-top: 25px;
    margin-left: 30px;
    text-decoration: underline;
    font-size: large;
}
.phone {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
   text-align: center;
}
.phone h2 {
    margin-top: 25px;
    margin-left: 30px;
    text-decoration: underline;
    font-size: large;
}

   
}
